:root {
    --ModerateCyan: hsl(176, 50%, 47%);
    --DarkCyan: hsl(176, 72%, 28%);
    --Black: hsl(0, 0%, 0%);
    --darkText:hsl(0, 0%, 22.4%);
    --Darkgray: hsl(0, 0%, 48%);
    --white: hsl(0, 0%, 100%);
    --font:'Commissioner',
    sans-serif;
}