html {

    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
  font-size: 100%;
    overflow-x: hidden;

}

html,
body,
#root {
    background-color: #fafafa;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}

*::after,
*::before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    overflow: hidden;
}


a {
    text-decoration: none;
}

svg:not(#ham){

    width: 24px;
    height: 24px;
    pointer-events: none;
}
